{% extends 'base.html' %}
{% block head_title %}
	- Cart
{% endblock %}

{% block content %}
	<div class="col-sm-8 col-sm-offset-2">
		{% if empty %}
			<br/>
			<br/>
			<h1 style="text-align: center">{{ empty_message }}</h1>
			<br/>
			<br/>
			<h5 style="text-align: left" class="text-header">Continue shopping on the G Fitness <a href="{% url 'products' %}">lessons</a> page.<br/><br/></h5> 
				<h6 class="text"><i>The price and availability of items at G Fitness are subject to change.<br/><br/>
				The Cart is a temporary place to store a list of your items and reflects each item's most recent price.</i></h6>

		{% else %}

			<table class="table text-header">
				<thead>
					<th>Item</th>
					<th>Price</th>
					<th>Number of Lessons</th>
					<th>Qty</th>
					<th></th>
				</thead>
				{% for item in cart.cartitem_set.all %}
					<tr>
						<td> {{ item.product }} {% if item.variations.all %} <ul> {% for subitem in item.variations.all %}<li>{{ subitem.category|capfirst }} : {{ subitem.title|capfirst }}{% endfor %} </li></ul> {% endif %}</td>
						<td> ${{ item.product.price }} </td>
						<td> {{ item.product.number_of_lessons }} </td>
						<td> {{ item.quantity }} </td>
						<td>
							<a href="{% url 'remove_from_cart' item.id %}"><span class="badge" style="background-color: #ff0000;">x</span></a>
						</td>
					</tr>
				{% endfor %}
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>

				<h5 class="text"><i>Current Total Lessons: {{ cart.get_lesson_final_amount }}</i></h5>
				<h5 class="text"><i>Subtotal: ${{ cart.total }} | Tax: ${{ cart.get_tax_total_amount }}</i></h5>
				<h4><strong class="text-header">Current Total: ${{ cart.get_final_amount }}</strong></h4>

			<br/>
			<button type="button" class="btn btn-warning">
				<a href="{% url 'checkout' %}" style="text-decoration: none;"><span style="color: white;">Checkout</span></a>
			</button>
		{% endif %}
	</div>
{% endblock %}