{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<div class="container" style=" width: 800px; border: 1px solid #ddd; padding-bottom: 3em; border-radius: .3em; box-shadow: 0 1px 3px #cccccc;">
        <div class="row" style="margin-top: .5em">
            <div class="col-sm-8 col-sm-offset-2">
			    <h1>{% trans "Change Password" %}</h1><br/>
			    <h5>{% trans 'Your password has been successfully changed.' %}</h5>
			</div>
		</div>
	</div>
{% endblock %}
