{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container" style=" width: 800px; border: 1px solid #ddd; padding-bottom: 3em; border-radius: .3em; box-shadow: 0 1px 3px #cccccc;">
        <div class="row" style="margin-top: .5em">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action=".">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form-group">
                                <div style="padding-left: 0em; padding-top: 3px" class="col-md-3">
                                    <input type="submit" class="btn btn-primary" name="action" value="Change Password" />
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <h5>{% trans 'Your password has been successfully changed.' %}</h5>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
