{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %} - {% trans "Password Reset" %}{% endblock %}

{% block content %}
 	<div class="container" style=" width: 800px; border: 1px solid #ddd; padding-bottom: 3em; border-radius: .3em; box-shadow: 0 1px 3px #cccccc;">
        <div class="row" style="margin-top: .5em">
            <div class="col-sm-8 col-sm-offset-2">
			    <h1>{% trans "Sent Password Reset Email" %}</h1>
			    
			    {% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}
			    
			    <h5>{% blocktrans %}We have sent you an email to reset your password.<br/><br/>
			    	Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h5>
			</div>
		</div>
	</div>
{% endblock %}
