{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	- About
{% endblock %}

{% block content %}

	<div class="col-md-6 col-md-offset-2">
		<br/>
		<img src="{% static 'img/About.png' %}" />
		<br/>
		<br/>
	</div>

	<div class="col-md-10 col-md-offset-1">
		<div class="text">
			<span class="text-header"><b>OUR MISSION:</b></span><br/></br>

			To conduct personal training sessions, athletic training, and group fitness in a clean, safe environment while incorporating expertise in the areas of athletics, physical therapy, and nutrition. Providing a safe and effective workout in a professionally staffed, local facility.</br><hr/>

			<span class="text-header"><b>WHO WE ARE:</b></span></br></br>

			G Fitness is a personal training studio that focuses on the development of young athletes, “weekend warriors”, and individuals looking to reach and exceed their fitness goals. Training sessions are to be offered as “one on one”, partner sessions, or group sessions. From its inception in 2005, G Fitness has prided itself on providing the best in “state of the art” workouts, while maintaining the safety of the clients at all times. Working with Physical Therapists for several years gives us a unique insight to training and safety that is unmatched by other training facilities in the area. At G Fitness, injury prevention is just as important as the effort applied in the workout.</br></br>

			G Fitness is located in Bernardsville in a 2,800 square foot, state of the art training facility. We utilize our access to a private baseball field and basketball court, our private weight room, and speed training room, making the training possibilities endless.</br><hr/>

			<span class="text-header"><b>ADULT TRAINING PROGRAM:</b></span></br></br>

			G Fitness is The Premier Training Studio in Bernardsville! Offering top notch personal and group training in a private, clean, safe, and fun training studio. We will push you hard, while utilizing state of the art training techniques conducted in sessions run by expert trainers to maximize your results. Every workout is fully customized for each individual client, with a strong emphasis on safety. We guarantee that you will reach your goal faster and safer than you thought possible.</br></br>

			While many gyms believe that the harder you work and the more you sweat, the better the workout, we believe this is simply not true. Knowing which muscles to work, how to work them, and at what times to work them, we can drastically improve your results. Through our years of research, we will show you how working smarter can be more effective. For example, we have found that by doing just 10 minutes of a cardio based exercise after weight training will burn up to 50% more fat than if performed before!</br></br>

			With the right guidance, people of all ages and abilities can accomplish anything. Allow one of our expert trainers to show you the difference between going to a big gym where you are just a number, compared to our personalized approach. Come in today for a free evaluation and see how much you can achieve!</br></br>

			<i>Today is Your Day, Make it a Great One!</i></br><hr/>

			<span class="text-header"><b>ATHLETE TRAINING PROGRAM:</b></span></br></br>

			With over 25 years of combined playing experience, our staff is extremely knowledgeable with the demands of the game. Playing experience, combined with superb program design, is essential for coaching excellence. In working with many accomplished athletes and coaches, we have discovered that, in order to be the best possible athlete in any sport, you must do more than simply work within the confines of the game. Having expert knowledge in multiple sports is highly beneficial in helping to build a better, well-rounded athlete.</br></br>

			Through years of playing and working with athletes, we have developed the techniques that set us apart from other programs. Being experienced in multiple sports enables our staff to see beyond the game and “making the play,” and to focus on growth of complete athletes. To be successful athletes, more is required than simply working hard in practice. The use of functional training techniques, set forth by G Fitness, prepares athletes physically and mentally for the demands of High School sports and beyond. High School athletes need to build a strong foundation. Working with our accomplished trainers, qualified in helping reach full potential, “G Fitness is the best choice for success.”</br></br>

			<span style="text-decoration: underline;">Our Philosophy:</span></br></br>

			Along with a team of expert trainers and former college and pro athletes, we bring athletes and teams to the highest level possible. The focus is “Cross Training,” using techniques such as “over speed” training, lateral resistance band work, dynamic leg exercises, and explosive upper body work, molding athletes to play their best. A significant amount of time is allotted to injury prevention, since only healthy athletes can perform at their finest.</br></br>

			Based on the John Wooden “Pyramid of Success” (a model used by the top college programs in the country), we understand that building a foundation based on strength, speed, agility, and injury prevention makes for a more explosive, stable, and durable athlete. Focusing energy on “making the play” simply is not enough.
		</div>
		<br/><br/>
	</div>
{% endblock %}