{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="col-sm-4 col-sm-offset-1">
        <img src="{% static 'img/IMG_4467.jpeg' %}" class="img-rounded" style="height: 100%; width: 100%;" />
    </div>
    <div class="col-sm-7">
        <h3 style="color: #e9e9e9; font-weight: bold; margin-top: 1.2em;">ROCK BALANCE BODYWORK</h3>
        <h4 style="color: #0086ca;">Lisa Streger, Licensed Massage and Bodywork Therapist</h4>
    </div>
    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 30px;">
        <p style="text-indent: 40px; line-height: 1.8em; color: #9d9d9d;">
            After graduating from Boston College with a BA in Psychology, I made a choice to follow my love of acting and pursue a career in the performing arts. While the goal back then was to get a break on Broadway, film and television, it was always my profound interest in understanding and connecting our mind, body and emotions that sustained my passion. Years later, with my children blossoming before my eyes, I am grateful to have been inspired by and to now be part of the growing world of massage.
        </p>
        <p style="text-indent: 40px; line-height: 1.8em; color: #9d9d9d;">
            It was because of a labral tear to my right hip that I first came across Myofascial Release (MFR) and with regular treatments of MFR and some physical therapy, I was able to overcome what felt like an impossible hurdle, avoided two recommended spinal fusions and brought my body out of pain and back to a place of homeostasis. I honestly believe that Myofascial Release played a tremendous part in my recovery, and with that I seek to learn all I can about the technique in hopes of helping others. I earned my License in Massage and Bodywork Therapy at the Therapeutic Massage and Training Center in Westfield and continue my training in Myofascial Release through the teachings of John Barnes and my personal mentor, David Crewdson.
        </p>
        <p style="text-indent: 40px; line-height: 1.8em; color: #9d9d9d;">
            It may seem as though my path has changed tremendously and yet, on some level, it may have just come full circle as I now continue my journey in the healing rather than performing arts. Those rich and powerful emotions once acted on stage are now my quest to free in others who may have physical restrictions and pain. Whether you are working through an injury or an athlete seeking optimal performance, Myofascial Release is an effective treatment. Our personalities are so affected by how we feel within, and Myofascial Release offers the potential to free up our emotions and allow our bodies to heal.
        </p>
        <p style="text-indent: 40px; line-height: 1.8em; color: #9d9d9d;">
            At Rock Balance Bodywork, I offer a massage tailored specifically for my clients based on their needs, their limitations, and most importantly their goals. The more we work together and the more we understand the constrictions of our own tissues and fibers, the more we can let go and attain optimal health.
        </p>
        <hr/>
    </div>
    <div class="col-sm-12" style="text-align: center; margin-bottom: 50px; margin-top: 30px;">
        <img src="{% static 'img/massage.png' %}" style="width: 40%; height: 40%; border-radius: 6px;" />
    </div>
{% endblock content %}