{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                <img data-src="holder.js/100%x180" src="{% static 'img/image6.jpg' %}" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail">
                <img data-src="holder.js/100%x180" src="{% static 'img/image1.jpg' %}" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail">
                <img data-src="holder.js/100%x180" src="{% static 'img/image4.jpg' %}" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail">
                <img data-src="holder.js/100%x180" src="{% static 'img/image5.jpg' %}" alt="...">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                <img data-src="holder.js/100%x180" src="{% static 'img/10306179_880295224563_6341657626891140302_n[2].jpg' %}" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail">
                <img data-src="holder.js/100%x180" src="{% static 'img/image10.jpg' %}" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail">
                <img data-src="holder.js/100%x180" src="{% static 'img/image8.jpg' %}" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail">
                <img data-src="holder.js/100%x180" src="{% static 'img/image9.jpg' %}" alt="...">
            </a>
        </div>
    </div>

	<div class="row">
  		<div class="col-md-3">
    		<a class="thumbnail" data-toggle="modal" data-target="#myModal">
      			<img data-src="holder.js/100%x180" src="{% static 'img/031.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/076.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/148.JPG' %}" alt="...">
    		</a>
    	</div>

	    <div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/313.JPG' %}" alt="...">
    		</a>
	    </div>
	</div>

	<div class="row">
  		<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/151.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/170.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/217.JPG' %}" alt="...">
    		</a>
    	</div>

	    <div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/202.JPG' %}" alt="...">
    		</a>
	    </div>
	</div>

	<div class="row">
  		<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/251.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/244.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/252.JPG' %}" alt="...">
    		</a>
    	</div>

	    <div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/247.JPG' %}" alt="...">
    		</a>
	    </div>
	</div>

	<div class="row">
  		<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/291.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/282.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/284.JPG' %}" alt="...">
    		</a>
    	</div>

	    <div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/290.JPG' %}" alt="...">
    		</a>
	    </div>
	</div>

	<div class="row">
  		<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/295.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/296.JPG' %}" alt="...">
    		</a>
    	</div>

    	<div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/300.JPG' %}" alt="...">
    		</a>
    	</div>

	    <div class="col-md-3">
    		<a class="thumbnail">
      			<img data-src="holder.js/100%x180" src="{% static 'img/040.JPG' %}" alt="...">
    		</a>
	    </div>
	</div>

{% endblock %}
