{% extends 'base.html' %}

{% block head_title %}
	- Required Forms
{% endblock %}

{% block content %}
	<br/>
	<div class="col-md-8 col-md-offset-2"
		<p></p>
		<h4 class="text-header">Please download and complete both forms prior to arriving at first session. Thank you!</h4>
		<br/>

		<p class="text" style="text-align: center;"><i>You may click both buttons to download the forms.</i></p>
		<br/>
		<br/>
		<br/>

		<div class="col-sm-2 col-sm-offset-2">
			<p>
			<button type="button" class="btn btn-danger">
			<a href="{{ MEDIA_URL }}docs/Liability_Form.docx" style="text-decoration: none;"><span style="color: white">Liability Form</span></a></button></p>
		</div>

		<div class="col-sm-2 col-sm-offset-2">
			<p>
			<button type="button" class="btn btn-danger">
			<a href="{{ MEDIA_URL }}docs/Health_History_Questionnaire.docx" style="text-decoration: none;"><span style="color: white">Health History Questionnaire</span></a></button></p>
		</div>
	</div>
{% endblock content %}
