{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	- Services
{% endblock %}

{% block content%}

	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<br/>
			<img src="{% static 'img/Services.png' %}" />
			<br/>
			<br/>
		</div>
	</div>

	<div class="row">
		<div class="container">

			<div class="col-md-4">

				<h4 class="text-header" style="text-align: center;">Personal Training</h4><br/>
				<p class="text"><i>This program offers workouts tailored to the individual and is designed to reach your workout goals as fast and safe as possible. Our skilled staff of trainers is highly skilled in several areas of physical fitness, keeping the workouts fun and exciting by mixing in a variety of exercises such as kettle bells, resistance training, boxing, etc.</i></p><br/><br/>

				<li class="text"><b class="text-header">Toning and Flexibility:</b><br/> 
					Light weight and body weight exercises designed to tone up and strengthen those stubborn muscles in target areas. In addition, we conduct a hands-on stretching session to increase flexibility. This session will leaving you looking and feeling great!</li><br/>

				<li class="text"><b class="text-header">Weight Loss and Fat Burn:</b><br/> 
					Our Motto is “Sweat is Fat Crying!” We will show you how to burn fat and shed those unwanted pounds in a fun and private workout that is unmatched in this area.</li><br/>

				<li class="text"><b class="text-header">Teen Training:</b><br/> 
					With young trainers and a fun environment we will get your teen motivated to work hard and get in great shape. Understanding from a young age the importance of working out and learning the correct form, will teach your teen valuable lessons that will be applied for their entire life.</li><br/>

				<li class="text"><b class="text-header">Body Building:</b><br/> 
					Build ripped muscle mass! Tired of working hard and not getting the results you want? Come to G Fitness and see those skin tearing results you have only dreamed about by pushing to the limit in a program that works.</li><br/>

				<li class="text"><b class="text-header">Nutrition:</b><br/> 
					Let our expert nutritionist put together a customized meal plan designed to safely and effectively help lose weight and curb your appetite. We can show you how substituting little things can go a long way!</li><br/><br/><br/>

			</div>

			<div class="col-md-4">

				<h4 class="text-header" style="text-align: center;">Group Training</h4><br/>
				<p class="text"><i>Come workout with a group of your friends or we can match you up with a group that will help motivate and keep the workouts fun! Similar to the One on One Training, our Group Sessions offer individually tailored workouts designed to reach your goals fast. At G Fitness every client has their own custom fitness plan.</i></p><br/><br/><br/>

				<li class="text"><b class="text-header">Women’s L. A. B.:</b><br/> 
					Our “Legs, Abs, & Butt” program is guaranteed to shed pounds and inches around those hard to hit spots.</li><br/>

				<li class="text"><b class="text-header">Cardio Boot Camp:</b><br/> 
					Developed by Corporal Pat Anderson of the US Marines, This workout will test your limits and get you in the best shape of your life.</li><br/>

				<li class="text"><b class="text-header">Men’s Groups:</b><br/> 
					Geared for adult men who want to lose weight, build muscle and get in shape. It’s time for the “Man of the House” to get back in shape! Let’s face it; the older we get the harder it is to get back in shape, right? Wrong! With the right motivation we can show you how getting back into “high school shape” is a realistic goal.</li><br/><br/><br/>

			</div>

			<div class="col-md-4">

				<h4 class="text-header" style="text-align: center;">Athlete Training</h4><br/>
				<p class="text"><i>Our expert staff of former athletes and coaches have over 25 years of training experience. With our unmatched ability to train athletes you will be playing better than you ever imagined. Experienced in coaching and playing every sport, our trainers will customize a workout designed for the demands of your sport, this allows you to excel where others fail.</i></p><br/><br/>

				<li class="text"><b class="text-header">Speed and Agility:</b><br/> 
					Using the most advanced techniques available, we will teach you to run faster, jump higher, and change direction quicker than ever before. We have experience working with athletes of all ages and abilities and can guarantee to customize a program perfect for your needs and goals.</li><br/>

				<li class="text"><b class="text-header">Power:</b><br/> 
					Learn how to properly lift weights with our customized program designed for the demands of your sport. Our staff of former athletes and coaches will not only teach the proper form of the exercises but also instruct on the importance of knowing how much weight to use and when to increase the weight.</li><br/><br/><br/>

			</div>
		</div>

	</div>

{% endblock %}