{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	- Workout Schedule
{% endblock %}

{% block content %}

	<div class="col-md-6 col-md-offset-2">
		<br/>
		<img src="{% static 'img/Workout-Schedule.png' %}" />
		<br/>
		<br/>
	</div>

<div class="col-lg-10 col-lg-offset-1">
	<h4 class="text" style="text-align: center;"><b>Space is limited! Call to reserve your sessions <span style="color: #0086ca;">(908) 766-2357</span>!</b></h4>
	<br/>

	<h3 class="text-header"><b>Adult Training Groups</b></h3>
	<div class="table-responsive">
		<table style="text-align: center;" class="table">
			<thead class="text-header">
				<tr>
					<td><span><strong>Monday</strong></span></td>
					<td><span><strong>Tuesday</strong></span></td>
					<td><span><strong>Wednesday</strong></span></td>
					<td><span><strong>Thursday</strong></span></td>
					<td><span><strong>Friday</strong></span></td>
					<td><span style="color: #0086ca;"><strong>Saturday</strong></span></td>
				</tr>
			</thead>

			<tbody class="text">
				<tr>
					<td>Women's "L.A.B."<br/>
					<span style="color: #95c621;"><i>9:00am-10:00am</i></span></td>
					<td>Cardio Boot Camp<br/>
					<span style="color: #95c621;"><i>9:00am-10:00am</i></span></td>
					<td>Linear Speed<br/>
					<span style="color: #95c621;"><i>9:00am-10:00am</i></span></td>
					<td>Lower Body Power<br/>
					<span style="color: #95c621;"><i>9:00am-10:00am</i></span></td>
					<td>Change of Direction<br/>
					<span style="color: #95c621;"><i>9:00am-10:00am</i></span></td>
					<td>Men's Group<br/>
					<span style="color: #0086ca;"><i>8:00am-9:00am</i></span></td>
				</tr>
				<tr>
					<td>Cardio Boot Camp<br/>
					<span style="color: #95c621;"><i>10:00am-11:00am</i></span></td>
					<td>Women's "L.A.B."<br/>
					<span style="color: #95c621;"><i>10:00am-11:00am</i></span></td>
					<td>Cardio Boot Camp<br/>
					<span style="color: #95c621;"><i>10:00am-11:00am</i></span></td>
					<td>Women's "L.A.B."<br/>
					<span style="color: #95c621;"><i>10:00am-11:00am</i></span></td>
					<td>Cardio Boot Camp<br/>
					<span style="color: #95c621;"><i>10:00am-11:00am</i></span></td>
					<td></td>
				</tr>
				<tr>
					<td>Men's Group<br/>
					<span style="color: #95c621;"><i>7:00pm-8:00pm</i></span></td>
					<td>Men's Group<br/>
					<span style="color: #95c621;"><i>7:00pm-8:00pm</i></span></td>
					<td>Men's Group<br/>
					<span style="color: #95c621;"><i>7:00pm-8:00pm</i></span></td>
					<td>Men's Group<br/>
					<span style="color: #95c621;"><i>7:00pm-8:00pm</i></span></td>
					<td>Men's Group<br/>
					<span style="color: #95c621;"><i>7:00pm-8:00pm</i></span></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="text"><em>* Clients should be at least 5 minutes early to prepare for the session.</em></p>
	<ul class="text">
		<li><b>Woman’s “L.A.B.”</b> - Legs, Abs, and Butt Workout</li>
		<li><b>Cardio Boot Camp</b> - Developed by Corporal Pat Anderson of the US Marines. This workout will test your limits and is guaranteed to get you in the best shape of your life!</li>
	        <li><b>Men's Group</b> - Workout dedicated towards adult men who want to lose weight, build muscle, and get fit.</li>
	</ul>
	<br/>
	<br/>
	<br/>

	<h3 class="text-header"><b>Athlete Training Groups</b></h3>
	<i class="text">(Limited to College, High School, and Youth Athletes)</i>
		<div class="table-responsive">
			<table style="text-align: center;" class="table">
				<thead class="text-header">
					<tr>
						<td><span><strong>Monday</strong></span></td>
						<td><span><strong>Tuesday</strong></span></td>
						<td><span><strong>Wednesday</strong></span></td>
						<td><span><strong>Thursday</strong></span></td>
						<td><span><strong>Friday</strong></span></td>
						<td><span style="color: #0086ca;"><strong>Saturday</strong></span></td>
					</tr>
				</thead>

				<tbody class="text">
					<tr>
						<td>Upper Body Strength<br/>
						<span style="color: #95c621;"><i>3:00pm-4:00pm</i></span></td>
						<td>Linear Speed<br/>
						<span style="color: #95c621;"><i>3:00pm-4:00pm</i></span></td>
						<td>Lower Body Power<br/>
						<span style="color: #95c621;"><i>3:00pm-4:00pm</i></span></td>
						<td>Change of Direction<br/>
						<span style="color: #95c621;"><i>3:00pm-4:00pm</i></span></td>
						<td>Upper Body Strength<br/>
						<span style="color: #95c621;"><i>3:00pm-4:00pm</i></span></td>
						<td>Linear Speed<br/>
						<span style="color: #0086ca;"><i>9:00am-10:00am</i></span></td>
					</tr>
					<tr>
						<td>Change of Direction<br/>
						<span style="color: #95c621;"><i>4:00pm-5:00pm</i></span></td>
						<td>Upper Body Strength<br/>
						<span style="color: #95c621;"><i>4:00pm-5:00pm</i></span></td>
						<td>Linear Speed<br/>
						<span style="color: #95c621;"><i>4:00pm-5:00pm</i></span></td>
						<td>Lower Body Power<br/>
						<span style="color: #95c621;"><i>4:00pm-5:00pm</i></span></td>
						<td>Change of Direction<br/>
						<span style="color: #95c621;"><i>4:00pm-5:00pm</i></span></td>
						<td>Upper Body Strength<br/>
						<span style="color: #0086ca;"><i>10:00am-11:00am</i></span></td>
					</tr>
					<tr>
						<td>Lower Body Power<br/>
						<span style="color: #95c621;"><i>5:00pm-6:00pm</i></span></td>
						<td>Change of Direction<br/>
						<span style="color: #95c621;"><i>5:00pm-6:00pm</i></span></td>
						<td>Upper Body Strength<br/>
						<span style="color: #95c621;"><i>5:00pm-6:00pm</i></span></td>
						<td>Linear Speed<br/>
						<span style="color: #95c621;"><i>5:00pm-6:00pm</i></span></td>
						<td>Lower Body Power<br/>
						<span style="color: #95c621;"><i>5:00pm-6:00pm</i></span></td>
						<td>Change of Direction<br/>
						<span style="color: #0086ca;"><i>11:00am-12:00pm</i></span></td>
					</tr>
					<tr>
						<td>Linear Speed<br/>
						<span style="color: #95c621;"><i>6:00pm-7:00pm</i></span></td>
						<td>Lower Body Power<br/>
						<span style="color: #95c621;"><i>6:00pm-7:00pm</i></span></td>
						<td>Change of Direction<br/>
						<span style="color: #95c621;"><i>6:00pm-7:00pm</i></span></td>
						<td>Upper Body Strength<br/>
						<span style="color: #95c621;"><i>6:00pm-7:00pm</i></span></td>
						<td>Linear Speed<br/>
						<span style="color: #95c621;"><i>6:00pm-7:00pm</i></span></td>
						<td>Lower Body Power<br/>
						<span style="color: #0086ca;"><i>12:00pm-1:00pm</i></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	<p class="text"><em>* Clients should be at least 5 minutes early to prepare for the session.</em></p>
	<br/>
	<br/>
	<br/>

	<h3 class="text-header"><b>Group Training Rates</b></h3>
	<i class="text">(Training Groups are available on a first come first serve basis)</i>
		<div class="table-responsive">
			<table class="table">
				<thead class="text-header">
					<tr>
						<td><b>Type of Session</b></td>
						<td><b>Cost</b></td>
						<td><b>Per Session Cost</b></td>
					</tr>
				</thead>
				<tbody class="text">
					<tr>
						<td>New Client 30 Day Unlimited *</td>
						<td><strong>$250.00</strong></td>
						<td><strong>$13.88</strong></td>
					</tr>
					<tr>
						<td>Monthly
						<span class="text-gray"><em>following New Client 30 Day Unlimited</em></span></td>
						<td><strong>$350.00</strong></td>
						<td><strong>$19.44</strong></td>
					</tr>
					<tr>
						<td>1 Class</td>
						<td><strong>$30.00</strong></td>
						<td><strong>$30.00</strong></td>
					</tr>
					<tr>
						<td>10 Classes</td>
						<td><strong>$275.00</strong></td>
						<td><strong>$27.50</strong></td>
					</tr>
					<tr>
						<td>20 Classes</td>
						<td><strong>$500.00</strong></td>
						<td><strong>$25.00</strong></td>
					</tr>
				</tbody>
			</table>
		</div>

	<p class="text"><em>Monthly rates based on 4 sessions per week. 18 session per month.</em></p>
	<p class="text"><em>* One time only for new customers to the gym.</em></p>
	<br/>
	<br/>
	<br/>





	<!-- <table class="table table-bordered text-header">
		<thead>
			<th></th>
			<th style="text-align: center;">Workout Schedule</th>
			<th></th><th></th>
		</thead>
		<tfoot>
			<tr>
				<td></td>
				<td><em>* Clients should be at least 5 minutes early to prepare for the session.</em></td>
				<td></td>
			</tr>
		</tfoot>
			<tr>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
				<td>Saturday</td>
			</tr>
	</table> -->

{% endblock %}