{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
	- Checkout
{% endblock %}

<script>
	{% block jquery %}

		  // This identifies your website in the createToken call below
		  Stripe.setPublishableKey('{{ stripe_pub }}');

			jQuery(function($) {
				$('#payment-form').submit(function(event) {
					var $form = $(this);

				// Disable the submit button to prevent repeated clicks
				$form.find('button').prop('disabled', true);

				Stripe.card.createToken($form, stripeResponseHandler);

				// Prevent the form from submitting with the default action
				return false;
				});
			});
			
			function stripeResponseHandler(status, response) {
			  var $form = $('#payment-form');

			  if (response.error) {
			    // Show the errors on the form
			    $("#card_errors_div").removeClass("hidden");
			    $form.find('.payment-errors').text(response.error.message);
			    $form.find('button').prop('disabled', false);
			  } else {
			  	$("#card_errors_div").addClass("hidden");
			    // response contains id and card, which contains additional card details
			    var token = response.id;
			    // Insert the token into the form so it gets submitted to the server
			    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
			    // and submit
			    $form.get(0).submit();
			  }
			};

			$("#addShippingAddress").click(function(e){
				e.preventDefault();
				$("#shippingAddressForm").fadeToggle();
			})

			{% if not current_addresses %}
				$("#shippingAddressForm").fadeToggle();
			{% endif %}

			$("#addBillingAddress").click(function(e){
				e.preventDefault();
				$("#billingAddressForm").fadeToggle();
			})

			{% if not current_addresses %}
				$("#billingAddressForm").fadeToggle();
			{% endif %}

	{% endblock %}
</script>

{% block content %}

	<div class="col-sm-3 pull-right">
		<div class="total" style="background-color: #ff0000; border-radius: 12px; padding: 12px;">
		<h4 class="text-header">Total: ${{ order.get_final_amount }}</h4>
		<h4 class="text-header">Lesson Total: {{ order.get_lesson_final_amount }}</h4>
		<p style="color: #cecece;"><em>Subtotal: ${{ order.get_sub_total_amount }} | Tax: ${{ order.get_tax_total_amount }}</em></p>
		</div>
	</div>

	<div class="col-sm-9 pull-left">

		<div class="col-sm-5 pull-right" id="billingAddressForm" style="display:none">
			<h3 class="text-header">Add New Billing Address</h3>
			<form style="background-color: #a7a7a7; border-radius: 12px; padding: 10px;" method="POST" action='{% url "ajax_add_user_address" %}?next=checkout'> {% csrf_token %}
				{{ address_form|crispy }}
				<input type="submit" class="btn btn-info" value="Add Billing Address"/>
			</form>
		</div>

		<div class="col-sm-5 pull-right" id="shippingAddressForm" style="display:none">
			<h3 class="text-header">Add New Shipping Address</h3>
			<form style="background-color: #a7a7a7; border-radius: 12px; padding: 10px;" method="POST" action='{% url "ajax_add_user_address" %}?next=checkout'> {% csrf_token %}
				{{ address_form|crispy }}
				<input type="submit" class="btn btn-info" value="Add Shipping Address"/>
			</form>
		</div>

		<form method="POST" action="" id="payment-form"> {% csrf_token %}
			{% if current_addresses %}
				<div class="col-sm-12">
					<h3 class="text-header">Shipping Addresses</h3>
					{% for address in current_addresses %}
						
							<label class="radio-label">
								{% if request.user.userdefaultaddress.shipping.id == address.id %} 
									<input type="radio" name="shipping_address" value="{{ address.id }}" checked="checked" /> <span style="color: #a7a7a7;">{{ address.get_address }}</span>
								{% else %}
									<input type="radio" name="shipping_address" value="{{ address.id }}" /> <span style="color: #a7a7a7;">{{ address.get_address }}</span> <br/>
								{% endif %}
							</label><br/>
						
					{% endfor %}
					<a href="{% url 'add_user_address' %}" id="addShippingAddress">Add New Address</a>
				</div>
			{% endif %}

			{% if billing_addresses %}
				<div class="col-sm-12">
					<h3 class="text-header">Billing Addresses</h3>
					{% for address in billing_addresses %}
						<label class="radio-label">
							{% if request.user.userdefaultaddress.billing.id == address.id %} 
								<input type="radio" name="billing_address" value="{{ address.id }}" checked="checked" /> <span style="color: #a7a7a7;">{{ address.get_address }}</span>
							{% else %}
								<input type="radio" name="billing_address" value="{{ address.id }}" /> <span style="color: #a7a7a7;">{{ address.get_address }}</span> <br/>
							{% endif %}
						</label><br/>
					{% endfor %}
					<a href="{% url 'add_user_address' %}" id="addBillingAddress">Add New Address</a>
				</div>
			{% endif %}

			<div class="col-sm-6">
				<h3 class="text-header">Card Information</h3>

					<div id="card_errors_div" class="alert alert-danger hidden payment-errors" role="alert">
					</div>

				<div class="form-row">
				  	<div class="row">
				  		<div class="col-xs-6" style="padding-right: 0px;">
						  	<b class="text">Card Number</b>
					      	<input class="form-control" type="text" size="20" data-stripe="number" placeholder="XXXX-XXXX-XXXX-XXXX"/>
					  	</div>

					    <div class="col-xs-3">
					       	<b class="text">CVC</b>
					    	<input class="form-control" type="text" size="4" data-stripe="cvc"/>
					    </div>
					</div>
				</div>
				<br/>

				<div class="form-row">
				  	<b class="text">Expiration (MM/YYYY)</b>
				  	<div class="row">
				  		<div class="col-xs-2" style="padding-right: 0px;">
						      <input class="form-control" type="text" size="2" data-stripe="exp-month" placeholder="MM"/>
						</div>
					    <div class="col-xs-3">
						    <input class="form-control" type="text" size="4" data-stripe="exp-year" placeholder="YYYY"/>
						</div>
					</div>
				</div>
				<br/>
				<br/>

				<button class="btn btn-warning" type="submit">Submit Payment</button>
			</div>
		</form>

	</div>

{% endblock %}




