{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-4 col-md-offset-4 text">
	<h3 class="text-header" style="text-align: center;">Delete</h3>
	<br/>
	<p class="text">Are you sure that you want to delete this lesson?</p>
	<br/>

	<form class="text" action="." method="POST">
	    {% csrf_token %}
	    <i>{{ object }}</i> <br/><br/><br/>
	    <input class='btn btn-danger' type="submit" value="{% trans "Cancel Workout" %}" />
	    <input class='btn btn-default' type="button" value="{% trans "Cancel" %}" onclick="window.location='{{next}}'"/>

	    <input type="hidden" name="next" value="{{next|default:""}}"/>
	</form>
</div>
{% endblock %}
